/* general */
body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(250, 250, 250, 1);
	overflow-x: hidden;
}

/* top area */
.navbar {
	width: 100%;
	background-color: rgba(250, 240, 230, 1);
	height: 90px;
	border-bottom: 5px solid rgba(104, 65, 18, .4);
}
#logo {
	margin-top: 5px;
}

#logo button {
	background-color: rgba(104, 65, 18, 0);
	border: none;
	z-index: 5;
	width: 320px;
	height: 75px;
	position: absolute;
}

#login {
	margin-top: 25px;
	text-align: right;
}

/* alert window */
#alert {
	background-color: rgba(132, 90, 103, 1);
	color: white;
	z-index: 3;
	width: 33%;
	height: 30%;
	border-radius: 8px;
	position: fixed;
	top: 33%;
	left: 33%;
	/*text-align: center;*/
}

#alert-x {
	position: relative;
	float: right;
	right: 15px;
	z-index: 3;
	font-size: 30px;
	margin-top: 10px;
}

#alert-x button {
	background-color: rgba(0, 0, 0, 0);
	z-index: 5;
	border: none;
	position: relative;
	float: right;
	right: 24px;
	top: 7px;
	width: 27px;
	height: 27px;
}

#alert p,
#alert span{
	font-size: 16px;
	margin-left: 30px;
	margin-right: 30px;
	font-weight: 400;
}

/* main content area in personal page */
#maincontent {
	width: 90%;
	padding: 15px 100px 30px 35px;
	border-right: 1px solid rgba(0, 0, 0, .1);
}

#maincontent img {
	max-width: 100%;
	min-width: 90%;
}

#today {
	height: 40px;
	background-color: rgba(115, 65, 18, .8);
	border-radius: 5px;
	text-align: center;
}
#today h2 {
    font-weight: 400;
    font-size: 20px;
    position: relative;
    padding-top: 8px;
    color: white;
}
#info h2 {
    font-weight: 500;
}
#info h5 {
    padding-top: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 4px;
}
#feedback h2 {
    font-size: 24px;
}
#feedback h3 {
    font-weight: 400;
    font-size: 16px;
}

#learningStatus h2 {
    font-size: 28px;
}
#learningStatus h2 span {
    font-weight: 700 bold;
    color: rgba(165, 65, 18, 1);
    display: inline-block;
}
#learningStatus h2 span:first-letter {
    text-transform: uppercase;
}
#learningStatus h3 {
    font-weight: 400;
    line-height: 8px;
    font-size: 18px;
}
#learningStatus h3 span {
	font-weight: bold;
	color: rgba(165, 65, 18, 1);
	font-size: 26px;
}
/* user profile page */
#profile {
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 3px;
	padding: 40px;
	width: 100%;
}

#profile img {
	max-width: 60%;
}

/* intro page */

#design, #theory {
	width: 75%;
}
#intropage h1 {
	font-weight: 500;
	font-size: 28px;
}
#intropage h2 {
	font-weight: 700;
}
#intropage h3 {
	font-weight: 400;
	font-size: 20px;
	margin-left: 30px;
}
#design p, #theory p {
	margin-left: 50px;
}
#design ul, #theory ul {
	margin-left: 40px;
}

#teambox {
	margin-left: 40px;
}

#team .col-md-3 {
	text-align: center;
	background-color: rgba(238, 238, 238, 1);
	/*width: 20%;*/
	margin: 15px;
	border: 1px solid rgba(0, 0, 0, .1);
}

#team img {
	margin-top: 20px;
	max-width: 70%;
	height: auto;
}

#team p {
	line-height: 2px;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

/* footer */
#footer {
	margin-bottom: 0px;
	text-align: right;
	color: rgba(105, 65, 10, .8);
}