/* general */
body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(250, 240, 230, 1);
}

/* top area */
#logo {
	margin-top: 5px;
}

#logo button {
	background-color: rgba(104, 65, 18, 0);
	border: none;
	z-index: 5;
	width: 320px;
	height: 75px;
	position: absolute;
}

#login {
	margin-top: 25px;
	text-align: right;
}

/* main image area */
.mainimage {
	background-image: url("../images/book2.jpg");
	max-width: 100%;
	height: 450px;
	opacity: .75;
}

#caption {
	text-align: center;
	margin-top: 100px;
	color: rgba(95, 60, 70, 1);
}

#caption button {
	margin-top: 15px;
	font-weight: 400;
	background-color: rgba(105, 68, 80, 1);
	color: rgba(255, 255, 255, .9);
	border: 1px solid rgba(255, 255, 255, .3);
	margin-left: 5px;
	margin-right: 5px;
}

#caption h2 {
	font-weight: 400;
}

#caption p {
	font-size: 18px;
	font-weight: 300;
}

#tutorial {
	margin-top: 10px;
}

#tutorial p {
	margin-left: 30px;
	font-weight: 400;
	color: rgba(95, 60, 70, .9);
	font-size: 20px;
	text-decoration: underline;
}

#tutorial h2 {
	margin-left: 30px;
	font-weight: 500;
	color: rgba(95, 60, 70, .9);
	font-size: 30px;
}

#tutorial #x {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	z-index: 5;
	position: absolute;
	width: 40px;
	height: 40px;
	top: 10px;
	right: 50px;
}

#tutbox {
	margin-top: 20px;
}

#tut1, #tut2 {
	width: 50%;
}

#tutorial .col-md-6 img {
	max-width: 100%;
	height: auto;
	border: 8px solid rgba(105, 68, 80, .8);
}


/* main content area */
#maincontent {
	width: 90%;
	box-shadow: 2px 2px 2px 2px #afafaf;
	padding: 15px 35px 30px 35px;
}

#maincontent img {
	max-width: 100%;
}

#topten {
	margin-top: 30px;
}

#newten {
	margin-top: 30px;
}

/* footer */
#footer {
	margin-bottom: 0px;
	text-align: right;
	color: rgba(105, 65, 10, .8);
}