<ca>
    <articleReview each={ articleRew in showArticles }></articleReview>
	<!--  <button onclick={ more }>More</button> -->
    <script>
    this.showArticles = this.opts.articles;      
    </script>
</ca>
